[submodule "externals/RED4ext.SDK"]
	path = externals/RED4ext.SDK
	url = https://github.com/marklove5102/RED4ext.SDK.git
[submodule "externals/externals/RED4ext.SDK"]
	path = externals/externals/RED4ext.SDK
	url = https://github.com/marklove5102/RED4ext.SDK.git
